server:
  port: 8080

spring:
  application:
    name: inventory-reactive-service
    
  data:
    mongodb:
      uri: mongodb://localhost:27017/inventory_db
      
    redis:
      host: localhost
      port: 6379

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.inventory: DEBUG
    org.springframework.data.mongodb: DEBUG
