apiVersion: v1
kind: ConfigMap
metadata:
  name: order-service-config
data:
  SPRING_PROFILES_ACTIVE: "dev"
  DATABASE_URL: "jdbc:postgresql://postgres-dev:5432/orders_dev"
  KAFKA_BOOTSTRAP_SERVERS: "kafka-dev:9092"
